mainnav {
    display: block;
    background-color: #C5D0F8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
}

mainnav ul {
    list-style-type: none;
    display: block;
    width: 100%;
}

mainnav li {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 400px) {
}