mainheader {
    display: block;
    position: fixed;
    background-color: #558A44;
    top: 0;
    right: 0;
    left: 100px;
    height: 100px;
    line-height: 100px;
}

mainheader h1 {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 400px) {
}