mainnav {
    display: block;
    width: 10%;
    background-color: #C5D0F8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

mainnav ul {
    list-style-type: none;
    display: block;
    width: 100%;
    padding-top: 50px;
}

mainnav li {
    display: block;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    mainnav {
        width: 20%;
    }
}

@media only screen and (max-width: 400px) {
    mainnav {
        width: 30%;
    }
}