mainheader {
    display: block;
    width: 95%;
    position: fixed;
    background-color: #558A44;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
}

mainheader h1 {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 1000px) {
    mainheader {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    mainheader {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    mainheader {
        width: 70%;
    }
}